{% extends 'catalog/base.html' %}
{% block content %}
<div class="row text-center">
    <a href="{% url 'blog_create' %} " class="btn btn-outline-dark">Создать запись</a>
    {% for object in object_list %}
        <div class="col-sm-3 mb-3 mb-sm-0">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ object.title }}</h5>
                    <p class="card-text">{{ object.text|truncatechars:100 }}</p>
                    <a href="{% url 'blog_detail' object.id %}" class="btn btn-primary form-control">Подробнее</a>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}