{% extends 'catalog/base.html' %}
{% block content %}
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4">
            <div class="card text-center">
                <form method="post" action="" class="form-floating">
                    <div class="card-header">
                        <h4 class="my-0 font-weight-normal">Форма обратной связи</h4>
                    </div>
                    <div class="card-body">
                        {% csrf_token %}
                        {{ form.as_p }}
                    </div>
                    <div class="card-header">
                        <input class="custom-btn btn-1 text-center" type="submit" value="Отправить"/>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}