{% extends 'catalog/base.html' %}
{% block content %}
    <div class="row text-center">
        {% for product in products %}
            <div class="col-sm-3 mb-3 mb-sm-0">
                <div class="card c">
                    <div class="card-header">
                        <h5 class="card-title">{{ product.name }}</h5>
                    </div>
                    <div class="card-body">
                        <p>{{ product.description|truncatechars:100 }}</p>
                        {% for version in product.versions.all %}
                            {% if version.current_version %}
                                <p class="card-text text-muted small">Версия: {{ version.number_version }}</p>
                            {% endif %}
                        {% endfor %}
                        <p class="card-text text-muted">Владелец: {{ product.owner|default:'Django shop' }}</p>
                    </div>
                    <div class="card-footer">
                        <a href="{% url 'product' product.id %}" class="btn btn-primary form-control">Подробнее</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}