{% extends 'catalog/base.html' %}
{% block content %}
    {% load my_tags %}
    <div class="row text-center">
    <div class="col-4"></div>
        <div class="col-4">
            <div class="card" style="width: 38rem;">
                <img src="{{ product.image|mediapath }}" class="card-img" style="max-width: 100%">
                <div class="card-header">
                    <h5 class="card-title">{{ product.name }}</h5>
                </div>
                <div class="card-body">
                    <p class="card-text">{{ product.description }}</p>
                    <p class="card-text">Категория: {{ product.category }}</p>
                    <p class="card-text">Цена: {{ product.price }} руб.</p>
                    {% for version in product.versions.all %}
                        {% if version.current_version %}
                            <p class="card-text">Версия: {{ version.number_version }}</p>
                        {% endif %}
                    {% endfor %}
                    <p class="card-text">Владелец: {{ product.owner|default:'Django shop' }}</p>
                    <a href="{% url 'home' %}" class="custom-btn btn-11">К списку товаров</a>
                </div>
                {% if user.is_authenticated and product.owner.email == user.email or user.is_staff %}
                    <div class="card-footer">
                        <a href="{% url 'product_update' object.id %}" class="custom-btn btn-2">Редактировать</a>
                        <a href="{% url 'product_delete' object.id %}" class="custom-btn btn-5"><span>Удалить</span></a>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}